<div class="page-not__container">
    <div class="page-not__content">
        <div class="page-not__content-title">
            <h1 class="page-not__title">OPS!</h1>
        </div>
        <div class="page-not__content-img">
            <img class="page-not__img" src="assets/imgs/page-not-found.svg" alt="">
        </div>
        <div class="page-not__content-descriptions">
            <span class="break__line">Parece que você errou o caminho.</span>
            <span class="break__line">Verifique a rota desejada</span>
            <span class="break__line">Volte ao início</span>
            <span class="break__line"> e tente novamente.</span>
        </div>
        <div  class="page-not__content-button">
            <button  class="page-not__button" routerLink="/home">
                Início
            </button>
        </div>
    </div>
</div>