.series__container {
    // margin: 40px;
    height: 100%;
    // width: 500px;
    overflow: auto;
}

.series__content-cards {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
    padding: 0 24px;
}

.series__content-title {
   text-align: left;
   margin-left: 26px;
}

.series__divider {
    width: 95%;
}

@media(max-width: 708px) {
    .series__content-cards {
        padding: 0 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .series__divider {
        width: 90%;
    }

    .series__content-title {
        text-align: center;
    }
}

@media(min-width: 1080px) {
    .series__content-cards {
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        padding: 0 24px;
    }
}